@import 'base';

.container article {
  & > .form .banner {
    padding-bottom: 80px;

    span {
      display: inline;
      width: 100%;
      background-color: $color-light-grey;
      border-radius: 10px;
    }
  }

  & > .search {
    h4 {
      font-size: 15px;
      margin-bottom: 8px;
    }

    .search-box {
      height: 52px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: solid 1px $color-dark-grey;
      background-color: $color-white;
      padding: 0 0 0 16px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      * > {
        display: inline-block;
      }

      input[type=text] {
        border: 0;
        background-color: transparent;
        width: calc(100% - 55px);
        height: 100%;
        outline: none;
        font-size: 13px;

        &::placeholder {
          color: $color-input-placeholder;
        }
      }

      button {
        margin-right: 5px;

        background: none;
        border: 0;

        &[type=submit] {
          font-size: 17px;
        }

        &[type=button] {
          font-size: 12px;
          font-weight: 500;
          line-height: 1.64;
          color: $color-grey;
          top: calc(50% - 0.8em);
        }
      }
    }

    ul {
      list-style: none;
      padding: 0 0 72px 0;

      li {
        padding: 16px 2px;

        div {
          &.empty {
            height: 19px;
            font-size: 16px;
            color: #3b3b46;
            text-align: center;
          }

          &.primary {
            height: 19px;
            font-size: 16px;
            color: #3b3b46;

            margin-bottom: 5px;
          }

          &.secondary {
            height: 16px;
            font-size: 13px;
            color: $color-grey;
          }
        }
      }
    }
  }
}
